@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1.25rem;
}

.paragraph {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-family: Overpass, sans-serif;
  margin-bottom: 1.25rem;
  padding-inline: 1.25rem;
}
