@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  font-weight: 600;
  color: #1f3f5b;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1.25rem;
}
